################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MVCCoreApp/.vs/MVCCoreApp/v16
/MVCCoreApp/MVCCoreApp/obj
